.blogs {
  padding: 5px;
  width: 350px;
  background: #ffffff;
  margin: 10px 0px;
  border-radius: 5px;
  border: 2px solid #c7d2fe;
}

.blogs h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
}

.delete-icon {
  height: 22px;
  width: 22px;
  background: #fecdd3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #9f1239;
}

.flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 5px;
}

.flex-card h4 {
  font-weight: 400;
  font-size: 20px;
}
.flex-card p {
  font-size: 15px;
  opacity: 0.8;
}

.desc-cata p {
  font-size: 15px;
  opacity: 0.9;
}

.desc-cata button {
  margin-top: 8px;
  background: #d1fae5;
  padding: 2px 5px;
  border-radius: 5px;
  color: #064e3b;
  font-weight: 600;
  margin-bottom: 8px;
}

.blogs img {
  width: 100%;
  min-height: 280px;
}

.single-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.single-data img {
  width: 350px;
  margin-top: 20px;
}


@media (max-width:980px) {
  .blogs {
    padding: 5px;
    width: 100%;
    background: #ffffff;
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid #c7d2fe;
  }
}



/* ========================  */
.blog-img-gallery {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: hidden;
  border: 3px solid #6b7280;
}

.blog-img-gallery img {
  width: 300px;
}
/* ========================  */

/* =============SINGLE NOTICE PAGE================= */

.single-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-name-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .single-name-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .details-single {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}


/* =========Share Notice============= */
.single-blog-share{
  display: flex;
  margin: 10px 0px;
  gap: 10px;
}