.my-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 410px;
  width: 660px;
  margin-top: -160px;
  margin-bottom: 30px;
}

.slider {
  height: 410px;
  width: 660px;
}

.each-slider-box {
  /* background: #000; */
  border: 2px solid #32e6e2;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.each-slider-box img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

@media (max-width: 980px) {
  .my-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 90%;
    margin-top: -130px;
    margin-bottom: 30px;
  }
  .slider {
    height: 250px;
    width:100%;
  }
}
